.busy{
    background-color: royalblue;
}

.selBox{
    width: 200px;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* table */
th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}
table{
    
    overflow-x:scroll;
    width:100%;
    display:block;
 }

td{
    width: 60px;
    vertical-align: top;
}
