body:not(nav){
    background: #F4F7FF;;
   font-family: 'Inter', sans-serif;
}

.mdl-button{
    color:#071773;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    text-transform: capitalize;
    top: 2mm;
}
#footnote{
    background-color: white;
    color:#071773;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    margin-top: 5mm;
    height: 2.1cm
}

#copyright{
    margin-left: 3cm;
}

.useracc{
    background: #FDB433;
    border-radius: 26px;
    height: 52px;
    width: 180px;
    left: 300px;
    right: 1200px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #071773;
    
  }

  .summaryevents{
    background: #FDB433;
    border-radius: 26px;
    height: 52px;
    width: 180px;
    left: 300px;
    right: 1200px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #071773;
    
  }

  .newEvent{
    background: #FDB433;
    border-radius: 26px;
    height: 52px;
    width: 180px;
    left: 300px;
    right: 1200px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #071773;
    
  }

  #event_header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #071773;
  }

  .section {
    background-color: white;
    background-position: right bottom, left top, right top, left bottom;
    margin-left: 3cm;
    margin-right: 3cm;
    border-radius: 5mm;
    height: 100%;
    text-align-last: left;
    
}

label {
    font-size: 17px;
}
input[type=text]{
    width: 40%;
    padding: 15px;
    height: 10px;
    display: inline-block;
    border: 1px solid lightgray;
    background:white;
  
  }

  table {
    border-collapse: separate;
    border: 1px #E3E3E3;
    border-radius:26mm;
    -moz-border-radius:26mm;
}
.busy{
    background-color: #FDB433;
}

.selBox{
    width: 200px;
}
ul {list-style-type: none;}

/* table */
th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}
.selectTimes{
    
    overflow-x:scroll;
    width:100%;
    display:block;
 }

td{
    width: 60px;
    vertical-align: top;
}
table tr th, table tr td {
    white-space:nowrap;
    border-right: 1px solid #FDB433;
    border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #E3E3E3;
}

table tr th:last-child,
table tr td:last-child {
  border-right: 1px solid #E3E3E3;
}