body:not(nav){
    background-color:white;
   font-family: 'Inter', sans-serif;
}

.mdl-button{
    color:#071773;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    text-transform: capitalize;
    top: 2mm;
}

.heading1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 64px;
    line-height: normal;
    margin-left: 3cm;
    color: #071773;

}

.body2 {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    margin-left: 3cm;
}

.signup{

    background: #FDB433;
    border-radius: 26px;
    height: 52px;
    width: 180px;
    left: 300px;
    right: 1200px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    

    
    
    }
    
.signup a{
    text-decoration: none;
    color: #071773;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;

}

#mini {

    align-content: center;
    margin-left: 15cm;
    font-family: 'Inter', sans-serif;
    color: #071773;
    font-size: 50px;
    line-height: normal;

}

.section1{
    background-color:#F4F7FF;
    background-position: right bottom, left top;
}

#section3{
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    line-height: normal;
    color: #071773;
    text-align: centre;
    margin-left: 10cm ;
}

#position{
    margin-left: 3cm;
}

#footnote{
    background-color: white;
    color:#071773;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    margin-top: 5mm;
    height: 2.1cm
  }
  
  #copyright{
    margin-left: 3cm;
  }

  .mdl-button{
    color:#071773;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
}

.useracc{
    background: #FDB433;
    border-radius: 26px;
    height: 52px;
    width: 180px;
    left: 300px;
    right: 1200px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #071773;
    
  }

  .summaryevents{
    background: #FDB433;
    border-radius: 26px;
    height: 52px;
    width: 180px;
    left: 300px;
    right: 1200px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #071773;
    
  }