
nav{
    color: white;
    width: 100%;
    position: fixed;
    background:#FFFFFF;
    height: 80px;
}

.nav-header{
    all: unset;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    margin-left: 3cm;
}
.nav-bar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
li{
    padding-right: 1em;
}
.nav-links{
    width:250px:
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}


.nav-links a {
    text-decoration: none;
    color:#071773;
}

.nav-bar a {
    text-decoration: none;
    color:#071773;

}

.getstarted{

background: #FDB433;
border-radius: 26px;
height: 52px;
width: 180px;
left: 130px;
right: 1577px;
border-width: 0px;
font-family: 'Inter', sans-serif;
color:#071773;
font-size: 17px;
line-height: 21px;
}

.loginbtn {
    background:white;
border-radius: 26px;
height: 52px;
width: 100px;
left: 130px;
right: 1577px;
border-width: 0px;
font-family: 'Inter', sans-serif;
color:#071773;
font-size: 17px;
line-height: 21px;
}


