.mdl-button{
    color:#071773;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    text-transform: capitalize;
}

body:not(nav){
    background: #F4F7FF;;
   font-family: 'Inter', sans-serif;
}

.section1 {
    background-color: white;
    background-position: right bottom, left top, right top, left bottom;
    margin-left: 4cm;
    margin-right: 4cm;
    border-radius: 5mm;
    height: 15cm;
    text-align-last: left;
    
}

.section2 {
    background-color: #FBF8F1;
    background-position: right bottom, left top, right top, left bottom;
    margin-left: 1cm;
    margin-right: 1cm;
    border-radius: 10mm;
    height: 10cm;
    text-align-last: left;
    
}

#hello {
    margin-left: 4cm;
}

#event_header{
    margin-left: 2cm;
}


.event_sum{
    margin-left: 1cm;
}

#footnote{
    background-color: white;
    color:#071773;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 21px;
    margin-top: 5mm;
    height: 2.1cm
  }
  
  #copyright{
    margin-left: 3cm;
  }

.section3{
    background-color: white;
    background-position: right bottom, left top, right top, left bottom;
    margin-right: 17cm;
    border-radius: 5mm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    text-align-last: center;

}

#besttime{
    font-size: 20px;
    margin-left: 5mm;
    text-align: center;
    margin-top: 5mm;
}